h5,
h6 {
    display: inline-block;
}

.eyeIcon {
    color: grey;
    padding-top: 5px;
    font-size: 16px;
}

.iconText {
    text-decoration: none;
    font-size: 16px;
    padding-top: 2px;
    padding-left: 2px;
}
// .button {
//     display: flex;
//     border-color: transparent;
// }
.button:hover {
    // background-color: #dbf8fd;
    border-color: #dbf8fd;
    p {
        color: grey;
    }
}
p {
    text-decoration: none;
}
a {
    list-style: none;
}
.form {
    margin-right: 8%;
}
