* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dashboard {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
    h4 {
        font-weight: 550;
    }
}

.profileCard {
    height: 300px;
    margin-bottom: 2%;
    width: 22vw;
    border: 2px solid rgb(219, 219, 219);
    text-align: center !important;
    padding-top: 3%;
    .fa {
        font-size: 80px;
        color: #002868cb;
    }
    h5 {
        color: #02b7ee;
    }
}
.profileCard h5:hover {
    color: rgb(75, 212, 253);
}
.profileCard a {
    text-decoration: none;
}
